@tailwind base;

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
      url('/assets/fonts/subset-Montserrat-BlackItalic.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black'), local('Montserrat-Black'),
      url('/assets/fonts/subset-Montserrat-Black.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
      url('/assets/fonts/subset-Montserrat-Bold.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
      url('/assets/fonts/subset-Montserrat-BoldItalic.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
      url('/assets/fonts/subset-Montserrat-Italic.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: optional;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
      url('/assets/fonts/subset-Montserrat-Medium.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'),
      url('/assets/fonts/subset-Montserrat-Light.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
      url('/assets/fonts/subset-Montserrat-Regular.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
      url('/assets/fonts/subset-Montserrat-SemiBold.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: optional;
}

:root {
  --primary: #306060;
  --primary-2: #508080;
  --secondary: #ffffff;
  --secondary-2: #f1f3f5;
  --hover: rgba(48, 96, 96, 0.075);
  --hover-1: rgba(48, 96, 96, 0.15);
  --hover-2: rgba(48, 96, 96, 0.25);
  --selection: var(--purple);

  --text-base: white;
  --text-primary: white;
  --text-secondary: black;
  
  --accents-0: #091212;
  --accents-1: #162c2c;
  --accents-2: #495057;
  --accents-3: #868e96;
  --accents-4: #adb5bd;
  --accents-5: #ced4da;
  --accents-6: #dee2e6;
  --accents-7: #a8d3d3;
  --accents-8: #cfe7e7;
  --accents-9: #f6fbfb;

  --cyan: #22b8cf;
  --green: #37b679;
  --red: #da3c3c;
  --pink: #e64980;
  --purple: #f81ce5;
  --blue: #0070f3;
  --violet-light: #7048e8;
  --violet: #5f3dc4;

  --font-sans: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue',
    'Helvetica', sans-serif;
}


/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */


*,
*:before,
*:after {
  box-sizing: inherit;
}

*:focus {
  @apply outline-none ring-2 ring-accents-7 ring-opacity-50;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: optional;
}

html,
body {
  @apply bg-black;
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

a {
  @apply transition-colors duration-200;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
