@tailwind base;

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
      url('/assets/fonts/subset-Montserrat-BlackItalic.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Black'), local('Montserrat-Black'),
      url('/assets/fonts/subset-Montserrat-Black.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
      url('/assets/fonts/subset-Montserrat-Bold.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
      url('/assets/fonts/subset-Montserrat-BoldItalic.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Italic'), local('Montserrat-Italic'),
      url('/assets/fonts/subset-Montserrat-Italic.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
      url('/assets/fonts/subset-Montserrat-Medium.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Light'), local('Montserrat-Light'),
      url('/assets/fonts/subset-Montserrat-Light.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
      url('/assets/fonts/subset-Montserrat-Regular.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
      url('/assets/fonts/subset-Montserrat-SemiBold.woff2') format('woff2'),
      url('/assets/fonts/subset-Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  @apply bg-black dark:bg-black;
  font-family: "Montserrat", sans-serif;
}

a {
  @apply transition-colors duration-200;
}

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
